In [1]:
import pandas as pd

In [2]:
#Creating Empty Dataframe

In [3]:
df = pd.DataFrame()

In [4]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
#Creating Demo DataFrame

In [6]:
df1 = pd.DataFrame([[1,2,3,4],[5,3,7,1],[3,6,7,9],[4,8,1,5]])

In [7]:
df1

   0  1  2  3
0  1  2  3  4
1  5  3  7  1
2  3  6  7  9
3  4  8  1  5

In [8]:
#Add columns to dataframe

In [9]:
df1 = pd.DataFrame([[1,2,3,4],[5,3,7,1],[3,6,7,9],[4,8,1,5]], columns = ['A','B','C','D'])

In [10]:
df1

   A  B  C  D
0  1  2  3  4
1  5  3  7  1
2  3  6  7  9
3  4  8  1  5

In [12]:
df1.head()

   A  B  C  D
0  1  2  3  4
1  5  3  7  1
2  3  6  7  9
3  4  8  1  5

In [13]:
df1.tail(2)

   A  B  C  D
2  3  6  7  9
3  4  8  1  5

In [14]:
#Dataframe Slicing

In [26]:
df1.iloc[1,2]

7

In [27]:
df1.iloc[1:3]

   A  B  C  D
1  5  3  7  1
2  3  6  7  9

In [37]:
df1.iloc[1:3, 1:3]

   B  C
1  3  7
2  6  7

In [39]:
#Writing a csv file a CSV file

In [40]:
df1.to_csv('data.csv', index = False)

In [41]:
#Reading a csv file

In [42]:
df2 = pd.read_csv('data.csv')

In [43]:
df2.head()

   A  B  C  D
0  1  2  3  4
1  5  3  7  1
2  3  6  7  9
3  4  8  1  5

In [44]:
df2.shape

(4, 4)

In [46]:
df2['B']

0    2
1    3
2    6
3    8
Name: B, dtype: int64

In [47]:
df2['B'].dtype

dtype('int64')

In [48]:
# df2['B'].astype('categpry')

In [49]:
#Merge different dataframes

In [51]:
df1 = pd.DataFrame([[1,2,3],[2,7,3],[6,3,9]], columns = ['A','B','C'])

In [52]:
df2 = pd.DataFrame([[11,7,31],[55,2,71],[25,3,15]], columns = ['X','Y','Z'])

In [53]:
df1

   A  B  C
0  1  2  3
1  2  7  3
2  6  3  9

In [54]:
df2

    X  Y   Z
0  11  7  31
1  55  2  71
2  25  3  15

In [55]:
pd.merge(df1,df2, right_on = 'Y', left_on = 'B')  #MApping

   A  B  C   X  Y   Z
0  1  2  3  55  2  71
1  2  7  3  11  7  31
2  6  3  9  25  3  15